{% extends "theme/base.twig" %}

{% block content %}
<h2>Customer List</h2>
<div id="list">
    search
    <input type="text" v-model="search_text">

    <table border="1">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>name</th>
            <th>code</th>
            <th>region</th>
            <th>country</th>
            <th>type</th>
            <th>staff</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(c, index) in customer_list_sort" :key="c.id">
            <td><a :href="'/customer/'+c.id+'/products'">products</a></td>
            <td><a :href="'/customer/'+c.id">Edit</a></td>
            <td v-text="c.name"></td>
            <td v-text="c.code"></td>
            <td v-text="c.region.name"></td>
            <td v-text="c.country.name"></td>
            <td>
                <span v-for="t in c.type" v-text="t.name + ','"></span>
            </td>
            <td>
                <table border="1">
                    <tr v-for="s in c.staff">
                        <td v-text="s.name"></td>
                        <td v-text="s.title"></td>
                        <td v-text="s.department"></td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}


{% block js_footer %}
    <script>
      var customer_list = {{ customer_list | raw }};
    </script>
    <script src="/assets/js/customer/index.js?v={{ appVersion }}"></script>
{% endblock %}
